:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em 1em;
  font-size: 0.9em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: rgb(188, 181, 181);
  white-space: nowrap;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

table {
  margin: 20px;
  color:gray
}

tr {
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 4px;
  border: 2px solid rgb(73, 73, 73);
  border-radius: 6px;
  padding: 6px;
  transition: all 0.5s ease, transform 0.5s ease;
}

input {
  width: 300px;
  height: 30px;
  border: 2px solid rgb(102, 102, 102);
  background-color: rgb(56, 56, 56);
  border-radius: 5px;
  font-family: monospace;
}
input:focus{
  appearance: none;
  outline: green;
}
.input {
  padding:  14px 10px;
  border-radius: 4px;
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  top: 0;
  position:sticky;
  background-color: rgba(50, 50, 50, 0.807)
}

.deleting {
  opacity: 0;
  transform: scale(0.9);
  background-color: rgb(202, 54, 54);
  transform: translateX(500px);
}

.adding {
  animation: addition 500ms ease forwards;
}

@keyframes addition {
  0% {
    opacity: 0;
    transform: scale(0.9);
    background-color: rgb(84, 202, 54);
    transform: translateX(-500px);
  }
  100% {
    opacity: 1; /* Make sure the task is fully visible at the end */
    transform: scale(1);
    background-color: transparent; /* Set background to transparent or none */
    transform: translateX(0px); /* Slide into position */
  }
}

.edit-input{
  background: none;
  border:None;
  width:min-content;
  padding:2px;
  font-size: 1rem;
  font-family: monospace;
  color: rgb(179, 179, 179);
}

.strike{
  text-decoration: line-through;
}

.edit-input:focus{
  border:2px solid red;
  outline: red;
  appearance: None;
}

.done{
  background-color: rgba(54, 126, 54, 0.518);
}
.not-done{
  background-color: rgba(144, 43, 43, 0.519);
}